@charset "UTF-8";
@import url(reset.css);

/* :는 가상태그를 의미하는 것*/
/* :root는 html전체를 의미하는 것*/
 :root{
    --lGreen: #00a651;
    --dGreen: #009640;
}

/* 가운데 영역을 먼저 잡아줘야함 */
.container{  
    width: 1200px;
    margin: 0 auto;
}

/* #section1 */
.history{
    padding-top: 200px;
}
.history_story{}
.history_tit{
    text-align: center;
}
.history_tit h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #222;
}
.history_tit h2 em{
    color: var(--lGreen);
}

.history_btn{}
.history_btn ul{
    width: 52%;/* 부모전체 넓이가 줄어줌 */
    text-align: center; /* 명령 타겟: 내자식 -> 내 자식이 in-line 요소가 있거든 중간에 놓아라 */
    margin: 100px auto;/* 내 자신(몸통)을 가운데 놓는것 */
}
.history_btn ul li{
    float: left;
    width: 20%;
    margin-left: -1px; /* border 1px씩 이라서 margin-left값으로 1px을 댕기면 겹치는 부분이 1px만 남게 됨 */
}
.history_btn ul li a{
    display: block;
    border: 1px solid #ccc;
    padding: 10px 0;
}
.history_btn ul li.active a{
    background: var(--lGreen);
    border-color: var(--dGreen);
    font-weight: bold;
    color: #fff;
}
.history_slide_Wrap{
    margin-top: -98px;
}
.history_slide{}
.history_slide img{
    width: 100%;
    height: 100%;
}
/* history_slide slick 수정 */

.history_slide .slick-arrow{
    position:absolute;
    bottom: 6px;
    font-size: 0; /* 글자를 완전히 없애는 법 */
    height: 0;
    background: none;/* 백그라운드 완전히 없애는 법 */
    z-index: 100;
}
.history_slide .slick-prev{
    left: 40%;
}
.history_slide .slick-prev::after{
    content: "\f359";
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    padding: 2px 7px;
    border-radius: 50%;
}
.history_slide .slick-prev:hover:after{
    background: var(--lGreen);
    color: #fff;
}
.history_slide .slick-next{
    right: 40%;
}
.history_slide .slick-next::after{
    content: "\f35a";
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    padding: 2px 7px;
    border-radius: 50%;
}
.history_slide .slick-next:hover:after{
    background: var(--lGreen);
    color: #fff;
}
.history_page{
    text-align: center;
    z-index: 90;
    position: relative;
}
.history_page em{

}
.history_page strong{
    color: #222;
}


/* history_poster */
.history_poster{
    padding-top: 100px;
    background: #f7f7f7;
}
.history_poster .poster_title{}
.history_poster .poster_title h2{
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    font-weight: 700;
    color: #222;
    padding: 50px 0;
}

.history_poster .poster_btn{}
.history_poster .poster_btn ul{
    width: 40%;
    margin: 0 auto; /* 부모 자체를 이용해서 중앙정렬하는 방법 */
}
.history_poster .poster_btn ul li{
    float: left;
    width: 25%;
    text-align: center;
}
.history_poster .poster_btn ul li a{
    display: block;
    padding: 5px 0;
    letter-spacing: -1px;
}
.history_poster .poster_btn ul li.active2 a{
    color:var(--lGreen);
    position: relative;
}
.history_poster .poster_btn ul li.active2 a::before{
    content: "";
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 0;
    width: 60%;
    height: 3px;
    background:var(--lGreen);
}

.poster_cont{
    position: relative;
    height: 950px; width: 100%;
}
.poster_cont .poster{
    position: absolute;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    width: 60%; height: 60%;
}
.poster_cont .poster figure{
    position: absolute;
    width: 20%;
    transition: 0.5s;
}
.poster_cont .poster figure img{
    border: 8px solid #ccc;
    transition: 0.3s;
    display: block;
}
.poster_cont .poster figure:hover img{
    border-color: var(--lGreen);
    cursor: pointer;
    box-shadow: 7px 7px 15px rgb(0, 0, 0 /20%);
}
.poster_cont .poster figure figcaption{
    text-align: center;
    font-weight: 700;
    transition: 0.3s;
}
.poster_cont .poster figure:hover figcaption{
    font-weight: 900;
    color: var(--dGreen);
    font-size: 20px;
}

/* poster.po1 */
.poster_cont .poster.po1{
    
}
.poster_cont .poster.po1 figure:nth-child(1){
    width: 54%; left: -5%;top: -10%;
}
.poster_cont .poster.po1 figure:nth-child(2){
    width: 42%;left: 55%;top: -17%;
}
.poster_cont .poster.po1 figure:nth-child(3){
    width: 46%;left: 10%;top: 38%;
}
.poster_cont .poster.po1 figure:nth-child(4){
    width: 33%;left: 67%;top: 38%;
}
.poster_cont .poster.po1 figure.move:nth-child(1){
    left: 0%;top: -10%;
}
.poster_cont .poster.po1 figure.move:nth-child(2){
    left: 60%;top: -17%;
}
.poster_cont .poster.po1 figure.move:nth-child(3){
    left: 7%;top: 33%;
}
.poster_cont .poster.po1 figure.move:nth-child(4){
    left: 63%;top: 38%;
}

/* poster.po2 */
.poster_cont .poster.po2 figure:nth-child(1){
    width: 50%; left: 0%; top:-14%;
}
.poster_cont .poster.po2 figure:nth-child(2){
    width: 65%;left: 62%;top:-2%;
}
.poster_cont .poster.po2 figure:nth-child(3){
    width: 39%;left: 7%;top: 50%;
}
.poster_cont .poster.po2 figure:nth-child(4){
    width: 52%;left: 52%;top: 52%;
}
.poster_cont .poster.po2 figure.move:nth-child(1){
    left: 0%;top: -10%;
}
.poster_cont .poster.po2 figure.move:nth-child(2){
    left: 57%;top: -2%;
}
.poster_cont .poster.po2 figure.move:nth-child(3){
    left: 9%;top: 44%;
}
.poster_cont .poster.po2 figure.move:nth-child(4){
    left: 53%;top: 48%;
}
/* poster.po3 */
.poster_cont .poster.po3 figure:nth-child(1){left:-1%; top:-10%; width:56%;}
.poster_cont .poster.po3 figure:nth-child(2){left:50%; top:-4%; width:62%;}
.poster_cont .poster.po3 figure:nth-child(3){left:-14%; top:39%; width:38%;}
.poster_cont .poster.po3 figure:nth-child(4){left:36%; top:40%; width:34%;}
.poster_cont .poster.po3 figure:nth-child(5){left:82%; top:50%; width:54%;}
.poster_cont .poster.po3 figure.move:nth-child(1){left:-6%; top:-17%; width:56%;}
.poster_cont .poster.po3 figure.move:nth-child(2){left:56%; top:-10%; width:62%;}
.poster_cont .poster.po3 figure.move:nth-child(3){left:-8%; top:37%; width:38%;}
.poster_cont .poster.po3 figure.move:nth-child(4){left:36%; top:33%; width:34%;}
.poster_cont .poster.po3 figure.move:nth-child(5){left:75%; top:46%; width:54%;}
/* poster.po4 */
.poster_cont .poster.po4 figure:nth-child(1){left:-7%; top:-12%; width:49%;}
.poster_cont .poster.po4 figure:nth-child(2){left:60%; top:0%; width:46%;}
.poster_cont .poster.po4 figure:nth-child(3){left:0%; top:56%; width:51%;}
.poster_cont .poster.po4 figure.move:nth-child(1){left:-2%; top:-12%; width:49%;}
.poster_cont .poster.po4 figure.move:nth-child(2){left:55%; top:0%; width:46%;}
.poster_cont .poster.po4 figure.move:nth-child(3){left:0%; top:41%; width:51%;}

/* history_cider */
.history_cider{
    padding: 200px 0;
}
.history_cider .container{
    position: relative;
}
.cider_title{
    padding-bottom: 30px;
}
.cider_title h2{
    font-size: 45px;
    text-align: center;
    line-height: 55px;
    color: #222;
    font-weight: 500;
}
.cider_title h2 em{
    font-weight: 700;
}

.history_cider .circle{
    position: absolute;
    width: 480px;
    height: 480px;
    left: 50%;top: 20%;
    transform: translateX(-50%);
}
.history_cider .circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--dGreen);
    border-radius: 50%;
}
.history_cider .circle span:nth-child(1){
    opacity: 0.9;
}
.history_cider .circle span:nth-child(2){
    width: 30px; height: 30px;
    left: 10px;top: 20px;
}
.history_cider .circle span:nth-child(3){
    width: 40px;height: 40px;
    left: 40px;top: 50px;
    background-color: transparent;
    border: 2px solid var(--lGreen);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);

}
.history_cider .circle span:nth-child(4){
    width: 20px; height: 20px;left: 65px; top: 15px;
    background-color: transparent;
    border: 2px solid var(--lGreen);
}
.history_cider .circle span:nth-child(5){
    width: 20px;height: 20px;
    right: 25px;bottom:30px; 
}


/* cider_bottle */
.cider_bottle{
    height:70vh;
    perspective: 600px;
}
.bSlide{
    position: relative;
    height: 700px;
    transform-style:preserve-3d; /* 3d만들때 깊이감 사용 */
}
.bSlide .bottle{
    position: absolute;
    left: 50%;top: 0; transform: translateX(-50%);
    width: 50%;
    transform-style:preserve-3d;
}
.bSlide .bottle img{
    width: auto;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    transform: translateZ(-200px) scale(0.8); /* 3d만들때 깊이감 사용 */
    transition: 0.5s;
}
.bSlide.slick-active .bottle img{
    transform: translateZ(50px) scale(1);
    opacity: 1;
    transition-delay: 0.5s;/* 이미지가 도착해서 커짐 */
}
.bSlide .bottle .desc{
    position: absolute;
    left: 50%; transform: translateX(-50%) scale(0);
    opacity: 0;
    transition: 0.3s;
    width: 220%; text-align: center;
    margin-top: 50px;
}
.bSlide .bottle .desc p{
    font-weight: 400;
}
.bSlide.slick-active .bottle .desc{
    transform: translateX(-50%) scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}
.bSlide .bottle_text{
    position: absolute;
    left: 50%;transform: translate3d(-50%, 17%, -300px); 
/*     zindex값 까지 주려면 translate3d*/
}
.bSlide .bottle_text h2{
    font-size: 200px;font-weight: 900;
    color: #fff;
    text-shadow: 10px 10px 12px rgba(0,0,0,0.5); /* box-shadow와 같음 */
    opacity: 0;
    transform:scale(0);
    z-index: 300px;
    transition: 0.2s;
}
.bSlide.slick-active .bottle_text h2{
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.4s;
}


/* slick play btn  */
.cider_bottle .slick-arrow{
    position: absolute;
    bottom: 14%;
    font-size: 0; /* 글자 완전히 없애는 법 */
    line-height: 0;
    cursor: pointer;
    background: none;
    z-index: 100;

}
.cider_bottle .slick-prev{
    left: 20%;
}
.cider_bottle .slick-prev::after{
    content: "\f0a8";
    font-family: "Font Awesome 5 free";
    font-size: 50px;
    font-weight: 900;
    color: #222;
    padding: 2px 7px;
}
.cider_bottle .slick-next{
    right: 20%;
}
.cider_bottle .slick-next::after{
    content: "\f0a9";
    font-family: "Font Awesome 5 free";
    font-size: 50px;
    font-weight: 900;
    color: #222;
    padding: 2px 7px;
}

/* slick dot 변형 */
.cider_bottle .slick-dots{
    width: 130px; margin: 0 auto;
    bottom: 80px;
    position: relative;
}
.cider_bottle .slick-dots li{
    float: left;
    margin: 0 5px;
    width: 12px;height: 12px;
    background: #dedede;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}
.cider_bottle .slick-dots li.slick-active{
    width: 30px;
    border-radius: 5px;
    background: var(--lGreen);
}
.cider_bottle .slick-dots li button{
    font-size: 0;
    line-height: 0;
    background: none;
}
